{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ABC Application</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 60px;
    }
    body > .container {
      padding: 60px 15px 0;
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
  <div class="container">
  {{ if .isCode }}
    <div class="alert alert-success" role="alert">{{ .code }}</div>
  {{ else }}
    {{ $login := sprintf "%s?client_id=%s&redirect_uri=%s&scope=%s&state=%s" .loginURL .clientID .redirectURI .scope .state  }}
    <a href="{{ $login }}" class="btn btn-lg btn-primary btn-block">{{ .btnLabel }}</a>
  {{ end }}
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>
    const code = "{{ .code }}";
    if (code != "<no value>") {
      async function sendOAuthRequest() {
        const url = 'http://localhost:5001/v1/oauth/tokens';

        const clientId = "{{ .clientID }}"
        const clientSecret = "{{ .clientSecret }}";
        const basicAuth = btoa(`${clientId}:${clientSecret}`);

        const body = {
          grant_type: "authorization_code",
          code: code,
          redirect_uri: "{{ .redirectURIRaw }}"
        };

        try {
          const response = await fetch(url, {
            method: 'POST',
            headers: {
              'Authorization': `Basic ${basicAuth}`,
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(body)
          });

          if (response.ok) {
            const data = await response.json();
            alert(`Access Token: ${data.access_token}`);
          } else {
            alert(`Authorization Code Expired with Status: ${response.status}/${response.statusText}`);
          }
        } catch (error) {
          console.error('Error:', error);
        }
      }

      setTimeout(function() {
        sendOAuthRequest();
      }, 2000);
    }
  </script>
</body>
</html>
{{ end }}
